.chat-main__body__name
  = message.user.name
.chat-main__body__date
  = l(message.created_at, format: :custom)
.chat-main__body__message
  = message.body
.chat-main__body__image
  - if message.image?
    = image_tag message.image
