.chat
  .chat__side
    .chat__side--user
      %h5 User Name
      =link_to edit_user_registration_path do
        = fa_icon 'cog'
      =link_to new_group_path do
        = fa_icon 'pencil-square-o'
    %ul.chat__side--groups
      %li.chat__side--group
        %a.chat--group__link
          %p.chat--group__name
            group1
          %p.chat--group__message
            メッセージはありません
      %li.chat__side--group
        %a.chat--group__link
          %p.chat--group__name
            group2
          %p.chat--group__message
            メッセージはありません
  .chat__main
    .chat__main--header
      .chat__main--header__left
        %h2 Sampleグループ
        %p Members: yosuketokunaga
      .chat__main--header__right
        =link_to 'Edit', ""
    .chat__main--body
      %ul
        %li
          .chat__main--body--block
            .chat__main--body--block--name tokunaga
            .chat__main--body--block--date 17/04/04 16:11:11
          %p.chat__main--body--message テスト1
        %li
          .chat__main--body--block
            .chat__main--body--block--name tokunaga
            .chat__main--body--block--date 17/04/04 16:11:11
          %p.chat__main--body--message テスト2
    .chat__main--footer
      .chat__main--footer--block
        %form
          %textarea.chat__main--footer--block__left{:placeholder => "type a text"}
          %button.chat__main--footer--image{:type=> "submit"}
            %i.fa.fa-image
          %input.chat__main--footer--block__right{:type => "submit", :value => "Send"}
