.chat
  .chat-side
    .chat-side__user
      %h5= current_user.name
      =link_to edit_user_registration_path do
        = fa_icon 'cog'
      =link_to new_group_path do
        = fa_icon 'pencil-square-o'
    .chat-side__groups
      = render partial: "layouts/group"
  .chat-main
    .chat-main__header
      .chat-main__header--left
        %h2 Sampleグループ
        %p Members: yosuketokunaga
      .chat-main__header--right
        =link_to 'Edit', ""
    .chat-main__body
    .chat-main__footer
      .chat-main__footer__block
        %form
          %textarea.chat-main__footer__block--left{:placeholder => "type a text"}
          %button.chat-main__footer__image{:type=> "submit"}
            %i.fa.fa-image
          %input.chat-main__footer__block--right{:type => "submit", :value => "Send"}
